page-match {

  * {
    box-sizing: border-box;
  }

  .score-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em !important;
  }

  .match-score-card {
    padding-top: 12%;
    padding-bottom: 12%;
    font-size: 12em !important;
  }

  .big-button {
    padding-top: 15%;
    padding-bottom: 15%;
    font-size: 3em;
  }

  .vertical-align-content > * {
    display: flex;
    align-items: center;
  }
}
