<ion-content padding class="vertical-align-content">
  <ion-grid>
    <ion-row>
      Tournament
    </ion-row>
    <ion-row>
    <ion-col width-33>
      <ion-list>
        <ion-item>
          <ion-card>
            GREY
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col width-33>
      <ion-list>
        <ion-item>
          <ion-card>
            {{ wins?.teamGrey }} : {{ wins?.teamBlack }}
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col width-33>
      <ion-list>
        <ion-item>
          <ion-card>
            BLACK
          </ion-card>
        </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      Match
    </ion-row>
    <ion-row>
      <ion-col width-33>
        <ion-row
          *ngFor="let player of teamGrey?.players"
        >
          <ion-col>
            <button
              ion-button
              large
              block
              (tap)="addGoal('teamGrey')"
            >
              {{ player.name }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-33>
        <ion-row>
          <ion-col>
            <ion-card>
              {{ match?.teamGrey }} : {{ match?.teamBlack }}
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-33>
        <ion-row
          *ngFor="let player of teamBlack?.players"
        >
          <ion-col>
            <button
              ion-button
              large
              block
              (tap)="addGoal('teamBlack')"
            >
              {{ player.name }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
