<ion-content padding class="vertical-align-content">
  <ion-grid>
    <ion-row>
      Tournament
    </ion-row>
    <ion-row>
    <ion-col width-33>
      <ion-list>
        <ion-item>
          <ion-card>
            GREY
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col width-33>
      <ion-list>
        <ion-item>
          <ion-card>
            {{ getWins('grey') }} : {{ getWins('black') }}
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col width-33>
      <ion-list>
        <ion-item>
          <ion-card>
            BLACK
          </ion-card>
        </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <h1>
        Match
      </h1>
    </ion-row>
    <ion-row>
      <ion-col width-33>
        <ion-row
          *ngFor="let player of getPlayers('grey')"
        >
          <ion-col>
            <button
              ion-button
              large
              block
              (tap)="addGoal('grey')"
            >
              {{ player.name }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-33>
        <ion-row>
          <ion-col>
            <ion-card>
              {{ getScore('grey') }} : {{ getScore('black') }}
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-33>
        <ion-row
          *ngFor="let player of getPlayers('black')"
        >
          <ion-col>
            <button
              ion-button
              large
              block
              (tap)="addGoal('black')"
            >
              {{ player.name }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
