page-match {

  scroll-content {
      display: flex;
      flex-direction: column;
  }

  ion-grid, ion-item {
      padding: 0;
      height: 100%;
  }

  ion-row {
    flex: 1;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  .goal-button {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .tournament-score-card {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 6em !important;
  }

  .player-avatar > img {
    border-radius: 100%;
  }

  .swap-team-button {
    margin: 3%;
    padding: 15%;
    font-size: 3em;
  }

  .score-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tournament-score-card {
    font-size: 6em !important;
  }

  .match-score-card {
    font-size: 12em !important;
  }

  .align-right {
    text-align: right;
  }
}
