<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="cancelMatch()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Match</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="vertical-align-content">
  <ion-grid>
    <ion-row>
      <h1>
        Tournament
      </h1>
    </ion-row>
    <ion-row>
      <ion-col offset-33 width-33>
        <ion-list>
          <ion-item>
            <ion-card  class="score-card tournament-score-card">
              {{ getWins('grey') }} : {{ getWins('black') }}
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <h1>
        Match
      </h1>
    </ion-row>
    <ion-row>
      <ion-col width-33>
        <ion-row
          *ngFor="let player of getPlayers('grey')"
        >
          <ion-col>
            <button
              ion-button
              large
              block
              class="big-button"
              (tap)="addGoal('grey')"
            >
              {{ player.name }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-33>
        <ion-row>
          <ion-col>
            <p>
            </p>
          </ion-col>
          <ion-col class="align-right">
            <p>
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card
              class="score-card match-score-card"
            >
              {{ getScore('grey') }} : {{ getScore('black') }}
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-33>
        <ion-row
          *ngFor="let player of getPlayers('black')"
        >
          <ion-col>
            <button
              ion-button
              large
              block
              class="big-button"
              (tap)="addGoal('black')"
            >
              {{ player.name }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
