<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Waiting for a new game...</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col col-9>
        <ion-item>Top Players</ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="header">
              Rank
            </ion-col>
            <ion-col class="header">
              Player
            </ion-col>
            <ion-col></ion-col>
            <ion-col class="header">
              Skill
            </ion-col>
            <ion-col class="header">
              Win Rate
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let playerSkill of stats; let i = index " [attr.data-index]="i">
            <ion-col>
              #{{ i + 1 }}
            </ion-col>
            <ion-col>
              <ion-avatar item-left>
                <img src="{{ playerSkill?.avatarImage }}">
              </ion-avatar>
            </ion-col>
            <ion-col>
              {{ playerSkill?.name }}
            </ion-col>
            <ion-col>
              {{ roundSkill(playerSkill?.skill) }}
            </ion-col>
            <ion-col>
              {{ winRate(playerSkill) }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-3>
        <ion-item>Queue</ion-item>
        <ion-list>
          <ion-item *ngFor="let player of queue">
            <ion-avatar item-left>
              <img src="{{ player?.avatarImage }}">
            </ion-avatar>
            {{ player?.name }}
          </ion-item>
        </ion-list>
        <ion-item>Last Games</ion-item>
        <ion-grid class="lastGames">
          <ion-row *ngFor="let tournament of lastTournaments">
            <ion-col>
              <ion-avatar>
                <img src="{{ tournament.teamA.player1.avatarImage }}">
              </ion-avatar>
              <div class="scoreChange" [ngClass]="{'plus': tournament.teamAPlayer1SkillChange > 0, 'minus': tournament.teamAPlayer1SkillChange < 0}">{{ roundSkill(tournament.teamAPlayer1SkillChange) }}</div>
            </ion-col>
            <ion-col>
              <ion-avatar>
                <img src="{{ tournament.teamA.player2.avatarImage }}">
              </ion-avatar>
              <div class="scoreChange" [ngClass]="{'plus': tournament.teamAPlayer2SkillChange > 0, 'minus': tournament.teamAPlayer2SkillChange < 0}">{{ roundSkill(tournament.teamAPlayer2SkillChange) }}</div>
            </ion-col>
            <ion-col text-center class="gameResult">
              <div>{{ winsTeamA(tournament) }} - {{ winsTeamB(tournament) }}</div>
              <ion-grid>
                <ion-row *ngFor="let match of tournament.matches">
                  <ion-col>{{ match.teamA }} - {{ match.teamB }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col>
              <ion-avatar>
                <img src="{{ tournament.teamB.player1.avatarImage }}">
                <div class="scoreChange" [ngClass]="{'plus': tournament.teamBPlayer1SkillChange > 0, 'minus': tournament.teamBPlayer1SkillChange < 0}">{{ roundSkill(tournament.teamBPlayer1SkillChange) }}</div>
              </ion-avatar>
            </ion-col>
            <ion-col >
              <ion-avatar align-items-center>
                <img src="{{ tournament.teamB.player2.avatarImage }}">
                <div class="scoreChange" [ngClass]="{'plus': tournament.teamBPlayer2SkillChange > 0, 'minus': tournament.teamBPlayer2SkillChange < 0}">{{ roundSkill(tournament.teamBPlayer2SkillChange) }}</div>
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
