page-stats {
  ion-avatar > img {
    border-radius: 100%;
    max-height: 40px;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .scoreChange {
    text-align: center;
    margin-top: 7px;

    &.plus {
      color: green;
    }

    &.minus {
      color: red;
    }
  }

  .gameResult {
    font-size: 20px;
    padding-top: 12px;

    ion-col {
      font-size: 14px;
      padding: 2px;
    }
  }

  .lastGames img {
    margin: auto;
  }
}
