<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ This file is part of kicker (https://github.com/mbrtargeting/kicker).
  ~ Copyright (c) 2019 Jan Graßegger.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="show_sql">false</property>
    <property name="format_sql">false</property>

    <mapping class="eu.m6r.kicker.models.Channel"/>
    <mapping class="eu.m6r.kicker.models.Tournament"/>
    <mapping class="eu.m6r.kicker.models.Match"/>
    <mapping class="eu.m6r.kicker.models.Player"/>
    <mapping class="eu.m6r.kicker.models.Team"/>
    <mapping class="eu.m6r.kicker.models.PlayerSkill"/>
  </session-factory>
</hibernate-configuration>
