<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hbm2ddl.auto">create</property>
    <property name="show_sql">false</property>
    <property name="format_sql">false</property>

    <mapping class="eu.m6r.kicker.models.Tournament"/>
    <mapping class="eu.m6r.kicker.models.Match"/>
    <mapping class="eu.m6r.kicker.models.User"/>
    <mapping class="eu.m6r.kicker.models.Team"/>
  </session-factory>
</hibernate-configuration>
